@model FEUEM_CAP.Models.NivelAcademico

@{
    ViewBag.Title = "DetalhesNAcademico";
}

<h2>Detalhes do nível académico</h2>

<div id="DescDetalhes">
    <h4 id="DescForm">Descrição do nível académico</h4>
    <hr />
    <dl id="NivelAcademicoDet" class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DescricaoNivelAcademico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescricaoNivelAcademico)
        </dd>

    </dl>
</div>

<br /><br /><br />
<hr />
<p>
    <a id="DetalhesModal" href="#" class="btn btn-primary" )>
        <span class="glyphicon glyphicon-remove"></span>
        fechar
    </a>
</p>
<script src="~/Scripts/Costumizados/FecharModal.js"></script>
