@model IEnumerable<FEUEM_CAP.Models.NivelAcademico>

@{
    ViewBag.Title = "Index";
}

<h2>Gestão de Niveis académicos</h2>

<p>
@*@Html.ActionLink("Novo", "AdicionarDocente")*@
<p>
    <a id="Novo" href="@Url.Action("AdicionarNAcademico")" class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span>
        Adicionar Nível
    </a>
</p>

<table id="gridDados">
    <thead>
    <tr>
       
        <th data-column-id="DescricaoNivelAcademico" data-order="asc">Nível académico</th>
    </tr>
    </thead>
</table>

@section scripts{
    <script src="~/Scripts/jquery.bootgrid.js"></script>
    <script type="text/javascript">
        $(document).ready(ConfigurarControles);

        var traducao =
        {
            infos: "Mostrando {{ctx.start}} até {{ctx.end}} de {{ctx.total}} registos",
            loading: "A carregar ...",
            noResults: "Sem dados a exibir",
            refresh: "Actalizar dados",
            search: "Pesquisar"
        }

        function ConfigurarControles() {
            $("#gridDados").bootgrid(
                {
                    ajax: true,
                    url: "@Url.Action("ListarNiveisAcademicos")",
                    labels: traducao,
                    searchSettings: {
                        characters: 2
                    }
                });
        }


    </script>
}