
@{
    ViewBag.Title = "Categorias";
}

<h2>Gestão de categorias</h2>

<p>
    <a id="Novo" href="#" class="btn btn-success" data-action="AdicionarNAcademico">
        <span class="glyphicon glyphicon-plus"></span>
        Adicionar nível académico
    </a>
</p>

<table id="gridDados">
    <thead>
        <tr>
            <th data-column-id="DescricaoNivelAcademico" data-order="asc">Nível académico</th>
            <th></th>
            <th data-formatter="accoes"></th>
        </tr>
    </thead>
</table>

<div class="modal fade" id="minhaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="conteudoModal"></div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/jquery.bootgrid.js"></script>
    <script type="text/javascript">

        var controller = "NivelAcademico";

        $(document).ready(ConfigurarControles);

        var traducao =
        {
            infos: "Mostrando {{ctx.start}} até {{ctx.end}} de {{ctx.total}} registos",
            loading: "A carregar ...",
            noResults: "Sem dados a exibir",
            refresh: "Actalizar dados",
            search: "Pesquisar"
        }

        function ConfigurarControles() {
            var grid = $("#gridDados").bootgrid(
                {
                    ajax: true,
                    url: "@Url.Action("ListarNiveisAcademicos")",
                    labels: traducao,
                    searchSettings: {
                        characters: 1
                    },
                    formatters: {
                        "accoes": function (column, row)
                        {
                            return "<a href='#' class='btn btn-info' ' data-acao='DetalhesNivelAcademico' data-row-id='" + row.NivelAcademicoId + "'>" +
                                "<span class ='glyphicon glyphicon-list'></span></a> "+
                                "<a href='#' class='btn btn-warning' data-acao='EditarNAcdemico' data-row-id='" + row.NivelAcademicoId + "'>" +
                                "<span class = 'glyphicon glyphicon-edit'></span></a> " +
                                "<a href='#' class='btn btn-danger' data-acao='RemoverNAcademico' data-row-id='" + row.NivelAcademicoId + "'>" +
                                "<span class = 'glyphicon glyphicon-trash'></span></a>";
                        }
                    }
                });

            grid.on("loaded.rs.jquery.bootgrid", function() {

                grid.find("a.btn").each(function (index, elemento) {

                    var botaoAcao = $(elemento);
                    var acao = botaoAcao.data("acao");
                    var idEntidade = botaoAcao.data("row-id");

                    botaoAcao.on("click",
                        function () {

                            abrirModal(acao, idEntidade);

                        });

                });

            });

            $("a.btn").click(function () {
                var acao = $(this).data("action");
                abrirModal(acao);
            });
        }

        function abrirModal(acao, parametro) {
            var url = "/{ctrl}/{acao}/{parametro}";
            url = url.replace("{ctrl}", controller);
            url = url.replace("{acao}", acao);

            if (parametro != null) {

                url = url.replace("{parametro}", parametro);

            } else {

                url = url.replace("{parametro}", "");
            }

            $("#conteudoModal").load(url,
                function() {
                    $("#minhaModal").modal('show');
                });
        }
    </script>

}
