@model FEUEM_CAP.Models.Categoria

@{
    ViewBag.Title = "DetalhesCategoria";
}

<h2>Detalhes da categoria</h2>

<div>
    <h4 id="DescForm">Descrição da categoria</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DescricaoCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescricaoCategoria)
        </dd>

    </dl>
</div>
<br /><br /><br />
<hr />
<p>
    <a id="DetalhesModal" href="#" class="btn btn-primary" )>
        <span class="glyphicon glyphicon-remove"></span>
        fechar
    </a>
</p>
<script src="~/Scripts/Costumizados/FecharModal.js"></script>